body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.blog-box {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blog-date {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.blog-title {
  font-size: 25px;
  font-weight: bold;
}

.blog-content {
  font-size: 20px;
  font-weight: bold;
}

.like-button {
  border: none;
  background: none;
  color: #f00;
  font-size: 24px;
  cursor: pointer;
}

.blog-likes {
  font-size: 14px;
  color: #888;
}

.admin-page {
  text-align: center;
  margin-bottom: 20px;
}

.admin-title {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.admin-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.admin-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.admin-box {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Mobile Optimization */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .blog-box {
    padding: 15px;
    margin-bottom: 15px;
  }

  .blog-title {
    font-size: 20px;
  }

  .blog-content {
    font-size: 16px;
  }

  .like-button {
    font-size: 20px;
  }

  .blog-likes {
    font-size: 12px;
  }

  .admin-title {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .admin-input {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .admin-button {
    font-size: 14px;
  }

  .admin-box {
    padding: 15px;
    margin-bottom: 15px;
  }
}
